<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>

        <h1><%= title %></h1>
    <table>
        <% blobs.forEach(function(blob){ %>
           <tr>
               <td><strong> <a href='/blobs/<%= blob._id %>'> <%= blob.name %> </a> </strong></td>
               <td><%= blob.badge %></td>
               <td><%= blob.dob %></td>
               <td><%= blob.isloved %></td>
               <td><%= blob._id %></td>
               
               <td>
                    <form action='/blobs/<%= blob._id %>/edit' method='post' enctype='application/x-www-form-urlencoded'>
                   <input type='hidden' value='DELETE' name='_method'>
                   <button type='submit'>Delete</button>
                   </form>
                   <p> <a href='/blobs/<%= blob._id %>/edit'>Edit </a> </p>
               </td>
              
           </tr>
        <% }); %>
    </table>

   
  </body>
</html>
